.movies {
  display: flex;
  flex-direction: column;
}

.movies__button {
  font-size: 12px;
  line-height: 15px;
  border-radius: 6px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 36px;
  cursor: pointer;
  border: 1px solid #424242;
  background: #202020;
  margin: 50px auto 80px;
  padding: 11px 60px 15px;
  color: #fff;
}

.movies__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 840px) {
  .movies__button {
    padding: 9px 60px;
    margin: 7px auto 130px;
  }
}

@media screen and (max-width: 450px) {
  .movies__button {
    padding: 13px 20px 9px;
    width: 241px;
    margin: 15px auto 135px;
  }
}
