.project {
  padding: 112px 70px 110px;
}

.project__name {
  padding-bottom: 22px;
  border-bottom: solid 1px #dadada;
  font-size: 22px;
  margin: 0;
  font-weight: 400;
}

.project__container {
  padding: 71px 0 113px;
  display: flex;
  gap: 144px;
}

.project__title {
  font-size: 20px;
  margin: 0;
  padding-bottom: 28px;
  font-weight: 400;
}

.project__text {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
}

.project__week {
  margin: 0;
}

.project__line {
  display: flex;
  line-height: 36px;
  padding-bottom: 15px;
}

.project__one {
  background: #3ddc84;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 20%;
  color: #000;
}

.project__four {
  background: #303030;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 80%;
  color: #fff;
}

.project__context {
  display: flex;
  color: #8b8b8b;
  font-weight: 500;
}

.project__backend {
  margin: 0;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.project__frontend {
  font-size: 14px;
  width: 80%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .project {
    padding: 92px 48px 90px;
  }

  .project__name {
    padding-bottom: 23px;
  }

  .project__container {
    padding: 71px 0 93px;
    gap: 33px;
  }

  .project__title {
    font-size: 19.5px;
    padding-bottom: 24px;
    padding-left: 1px;
  }

  br {
    display: none;
  }

  .project__text {
    font-size: 11px;
    letter-spacing: 0.08em;
    line-height: 18px;
  }

  .project__week {
    margin: 0;
  }

  .project__line {
    padding-bottom: 16px;
  }

  .project__one {
    width: 21%;
  }

  .project__four {
    width: 79%;
  }

  .project__context {
    font-weight: 400;
  }

  .project__backend {
    width: 21%;
  }

  .project__frontend {
    width: 79%;
  }
}

@media screen and (max-width: 450px) {
  .project {
    padding: 73px 18px 80px;
  }

  .project__name {
    padding-bottom: 27px;
    font-size: 18px;
  }

  .project__container {
    padding: 63px 0 59px;
    display: flex;
    flex-direction: column;
    gap: 57px;
  }

  .project__title {
    font-size: 18px;
    padding-bottom: 15px;
    padding-left: 0;
  }

  .project__text {
    font-size: 10px;
    letter-spacing: 0.09em;
    line-height: 17px;
  }

  .project__line {
    line-height: 33px;
    padding-bottom: 12px;
  }

  .project__one {
    font-size: 11px;
    width: 44%;
  }

  .project__four {
    font-size: 11px;
    width: 80%;
  }

  .project__context {
    font-weight: 400;
  }

  .project__backend {
    font-size: 11px;
    width: 44%;
  }

  .project__frontend {
    font-size: 11px;
    width: 80%;
  }
}
