.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 359.5px;
  font-size: 14px;
}

.navigation__movies {
  display: flex;
  gap: 14px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__link {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__link_active {
  font-weight: 500;
  font-size: 14px;
}

.navigation__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 32px;
  background-color: #313131;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
}

.navigation__account {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3px;
  padding-bottom: 2px;
}

.navigation__account:hover {
  opacity: 0.7;
}

.navigation__lines {
  display: none;
}

@media screen and (max-width: 1050px) {
  .navigation {
    gap: 280px;
  }
}

@media screen and (max-width: 840px) {

  .navigation__lines {
    display: unset;
    right: 29px;
  }

  .navigation__button {
    padding: 0;

    background-color: transparent;
    display: flex;
    flex-direction: column;
    border: none;
    cursor: pointer;
  }

  .navigation__button:hover {
    opacity: 0.8;
  }

  .navigation__line {
    margin-right: 8px;
    padding-bottom: 7px;
    min-width: 28px;
    border-top: 3px solid #fff;
  }

  .navigation__line:last-of-type {
    padding: 0;
  }

  .navigation__profile {
    display: none;
  }

  .navigation__movies {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .navigation__lines {
    right: 23px;
  }

  .navigation__line {
    margin-right: 0;
    padding-bottom: 6px;
    min-width: 22px;
  }
}
