.navtab {
  display: flex;
  justify-content: center;
}

.navtab__box {
  list-style-type: none;
  margin: 0;
  display: flex;
  gap: 10px;
  padding: 0;
  padding-right: 2px;
}

.navtab__item {
  min-width: 96px;
  min-height: 36px;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.navtab__button {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  transition: opacity 0.7s;
  background-color: #303030;
}

.navtab__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 900px) {
  .navtab__box {
    gap: 7px;
    padding-right: 3px;
  }
}

@media screen and (max-width: 480px) {
  .navtab {
    padding-bottom: 3px;
  }

  .navtab__box {
    gap: 6px;
    padding-right: 0;
  }

  .navtab__item {
    min-width: 82px;
    min-height: 26px;
    border-radius: 6px;
  }

  .navtab__button {
    font-size: 10px;
    border-radius: 6px;
  }
}
