.card {
  max-width: 360px;
  max-height: 271px;
}

.card__context {
  display: flex;
  position: relative;
}

.card__container {
  padding: 10px 16px;
  display: flex;
  gap: 29px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 14.5px;
  line-height: 16.94px;
  min-width: 250px;
}

.card__duration {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  background: #2f2f2f;
  color: #8b8b8b;
  border-radius: 3px;
  min-width: 52px;
  height: 18px;
}

.card__like-button {
  padding: 0;
  top: 15px;
  right: 12px;
  position: absolute;
  border-radius: 30px;
  width: 72px;
  height: 21px;
  background: #313131 url('../../../images/save.svg') no-repeat center;
  border: none;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.6;
}

.card__like-button_active {
  border-radius: 36px;
  width: 21px;
  height: 21px;
  background: url('../../../images/check.svg') no-repeat center;
  border: none;
  cursor: pointer;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

.card__link {
  min-width: 364px;
  min-height: 203px;
  cursor: pointer;
}

.card__item {
  width: 100%;
  max-height: 203px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

@media screen and (max-width: 840px) {
  .card {
    max-height: 258px;
  }

  .card__context {
    gap: 31px;
  }

  .card__container {
    padding: 22px 0;
    gap: 35px;
  }

  .card__title {
    font-size: 13px;
    line-height: 15.73px;
    letter-spacing: 0.4px;
  }

  .card__link {
    min-width: 339px;
    min-height: 190px;
    cursor: pointer;
  }

  .card__item {
    max-height: 190px;
  }

  .card__like-button {
    top: 14px;
    right: 14px;
  }
}

@media screen and (max-width: 450px) {
  .card {
    max-height: 300px;
    max-width: 300px;
  }

  .card__context {
    gap: 0;
  }

  .card__container {
    padding: 12px 0;
    gap: 8px;

    min-width: 300px;
  }

  .card__link {
    min-width: 300px;
    min-height: 168px;
  }

  .card__item {
    max-height: 168px;
  }

  .card__title {
    font-size: 12px;
    line-height: 14.52px;
    min-width: 240px;
  }

  .card__like-button {
    top: 9px;
    right: 6px;
  }
}
