.footer {
  padding: 40px 70px;
}

.footer__text {
  text-align: center;
  margin: 0;
  padding-bottom: 21px;
  border-bottom: 1px solid #424242;
  color: #8b8b8b;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.45px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.footer__year {
  font-size: 14px;
  font-weight: 400;
  padding-left: 2px;
  margin: 0;
}

.footer__box {
  display: flex;
  gap: 21px;
  justify-content: center;
}

.footer__link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 31px 29px;
  }

  .footer__text {
    padding-bottom: 19px;
  }

  .footer__box {
    gap: 24px;
  }

  .footer__link {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    padding: 27px 17px 20px;
  }

  .footer__text {
    font-size: 12px;
    padding-bottom: 21px;
    letter-spacing: 0.4px;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    padding-top: 32px;
  }

  .footer__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .footer__link {
    font-size: 13px;
  }

  .footer__year {
    font-size: 12px;
    padding-left: 0;
    padding-top: 30px;
  }
}
