.promo {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  margin: 0 auto;
  border-radius: 10px;
}

.promo__container {
  background-color: #272727;
  padding: 70px 158px 30px;
  border-radius: 10px;
}

.promo__title {
  padding: 90px 78px 152px;
  font-size: 50px;
  max-width: 730px;
  text-align: center;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .promo {
    padding: 0 20px 0;
    margin: 0;
  }

  .promo__container {
    padding: 250px 2px 29px;
  }

  .promo__title {
    padding: 100px 24px 313px;
    font-size: 40px;
    max-width: 680px;
    line-height: 52px;
  }
}

@media screen and (max-width: 450px) {
  .promo {
    padding: 0 12px 0;
  }

  .promo__container {
    padding: 122px 0 13px;
  }

  .promo__title {
    padding: 100px 3px 211px;
    max-width: 292px;
    line-height: 37px;
    font-size: 28.5px;
  }
}
