.search {
  box-sizing: border-box;
  padding: 78px 70px 10px;
}

.search__form {
  display: flex;
  text-align: center;
  gap: 10px;
  align-items: center;
}

.search__button {
  border: none;
  padding: 0;
  background: url('../../../images/search.svg') center no-repeat;
  cursor: pointer;
  min-height: 44px;
  min-width: 44px;
}

.search__button:hover {
  opacity: 0.8;
}

.search__button:disabled:hover {
  opacity: 1;
}

.search__input {
  border-radius: 8px;
  font-size: 14px;
  line-height: 18px;
  color: #8b8b8b;
  padding: 0;
  background: #2f2f2f;
  width: 100%;
  border: none;
  line-height: 18px;
  padding: 15px 0 15px 22px;
}

.search__input:focus {
  outline: 1px solid #101010;
}

.search__checkbox {
  display: flex;
  gap: 14px;
  justify-content: center;
  padding: 30px 0 39px;
  border-bottom: 1px solid #424242;
}

.search__checkbox:hover {
  opacity: 0.8;
}

.search__span-checkbox {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.4px;
}

.search__span {
  font-size: 11px;
  top: 205px;
  color: #ff004c;
}

@media screen and (max-width: 840px) {
  .search {
    padding: 77px 30px 10px;
  }

  .search__form {
    gap: 5px;
  }

  .search__checkbox {
    gap: 15px;
    padding: 42px 0 40px;
  }

  .search__button {
    min-height: 44px;
    min-width: 44px;
  }

  .search__span {
    top: 205px;
  }

  .search__span-checkbox {
    font-size: 12px;
    letter-spacing: 0.5px;
  }
}

@media screen and (max-width: 450px) {
  .search {
    padding: 88px 12px 9px;
  }

  .search__input {
    padding: 13px 0 13px 14px;
    font-size: 13.5px;
  }

  .search__checkbox {
    gap: 14px;
    padding: 45px 0 41px;
  }

  .search__form {
    gap: 9px;
    margin-left: 3px;
  }

  .search__span-checkbox {
    font-size: 11px;
    letter-spacing: 0.45px;
  }

  .search__span {
    top: 201px;
  }
}
