.techs {
  background-color: #272727;
  padding: 102px 70px;
}

.techs__name {
  margin: 0;
  font-size: 20px;
  padding-bottom: 23px;
  border-bottom: solid 1px #dadada;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.techs__title {
  font-weight: 400;
  margin: 0;
  padding: 92px 0 26px;
  font-size: 45.9px;
  text-align: center;
  line-height: 57px;
  letter-spacing: 0.1px;
}

.techs__context {
  margin: 0;
  font-size: 13px;
  text-align: center;
  padding-bottom: 84px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02px;
}

.techs__container {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0;
}

.techs__span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  min-width: 90px;
  min-height: 60px;
  background: #303030;
  border-radius: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 900px) {
  .techs {
    padding: 92px 50px 72px;
  }

  .techs__title {
    padding: 81px 0 22px;
  }

  .techs__context {
    display: flex;
    justify-content: center;
    font-size: 11px;
    padding-bottom: 68px;
    padding-left: 110px;
    padding-right: 110px;
    line-height: 18px;
    letter-spacing: 0.04px;
  }

  .techs__container {
    display: flex;
    flex-wrap: wrap;
  }

  .techs__span {
    font-size: 12px;
    min-width: 84px;
    min-height: 57px;
    line-height: 14.52pxpx;
  }
}

@media screen and (max-width: 450px) {
  .techs {
    padding: 59px 19px;
    background-color: #202020;
  }

  .techs__name {
    font-size: 16px;
    padding-bottom: 26px;
    border-bottom: solid 1px #000;
    letter-spacing: 0.4px;
  }

  .techs__title {
    padding: 50px 0 13px;
    font-size: 28px;
  }

  .techs__context {
    font-size: 10px;
    padding-bottom: 35px;
    padding-left: 0;
    padding-right: 0;
    line-height: 16px;
    letter-spacing: 0.1px;
  }

  .techs__container {
    padding: 0 0 0 52px;
    justify-content: left;
  }

  .techs__span {
    font-size: 12px;
    min-width: 84px;
    min-height: 57px;
  }
}
