.unknown {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding-top: 250px;
  padding-bottom: 60px;
}

.unknown__title {
  margin: 0;
  font-size: 143px;
  padding-bottom: 4px;
  font-weight: 400;
  letter-spacing: 10px;
  padding-left: 11px;
}

.unknown__text {
  margin: 0;
  font-size: 17px;
  padding-bottom: 185px;
  font-weight: 400;
}

.unknown__link {
  text-decoration: none;
  color: #4285f4;
  font-size: 14px;
}

@media screen and (max-width: 820px) {
  .unknown {
    padding-top: 481px;
    padding-bottom: 222px;
  }
}

@media screen and (max-width: 460px) {
  .unknown {
    padding-top: 334px;
    padding-bottom: 50px;
  }

  .unknown__link {
    font-size: 12px;
  }

  .unknown__text {
    font-size: 13px;
    padding-bottom: 284px;
  }

  .unknown__title {
    font-size: 80px;
    padding-bottom: 12px;
    letter-spacing: 6px;
    padding-bottom: 12px;
  }
}
